@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Montreal';
  src: url('./font/PP_Neue_Montreal/OTF/PPNeueMontreal-Book.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./font/PP_Neue_Montreal/OTF/PPNeueMontreal-Medium.otf')
    format('opentype');
  font-weight: medium;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Neue Montreal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  /* line-height: 1.2em; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: sans-serif;
}

p {
  line-height: 1.2em !important;
}
